<div class="inventory-app">
  <products-list
    [productList]="products"
    (onProductSelected)="productWasSelected($event)">
  </products-list>
</div>
<button type="button" class="btn btn-primary" style="margin-left: 40px; position: absolute; top:120px; left:360px;"(click)="openModal(template)">Preview</button>
<button type="button" class="btn btn-primary" style="margin-left: 40px; position: absolute; top:276px; left:360px;"(click)="openModal(template1)">Preview</button>
<button type="button" class="btn btn-primary" style="margin-left: 40px; position: absolute; top:450px; left:360px;"(click)="openModal(template2)">Preview</button>

<ng-template #template>
   <div class="modal-header">
      <h4 class="modal-title pull-left">Product Preview</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
         <span aria-hidden="true">×</span>
      </button>
   </div>
   <div class="modal-body" >
      <img src = "../assets/images/products/black-shoes.jpg">
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
   </div>
</ng-template>

<ng-template #template1>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Product Preview</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body1">
     <img src = "../assets/images/products/blue-jacket.jpg">
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>


<ng-template #template2>
  <div class="modal-header">
     <h4 class="modal-title pull-left">Product Preview</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
     </button>
  </div>
  <div class="modal-body2">
     <img src = "../assets/images/products/black-hat.jpg">
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

